body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}
.first-container {
  background-color: #1f2937;
  padding: 20px 12%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-weight: bold;
  color: white;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  color: rgb(220, 220, 220);
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header-main-title,
.header-main-subtext {
  width: 400px;
}

.header-main-title {
  color: white;
  font-size: 48px;
  margin-bottom: 0;
}

.header-main-subtext {
  color: rgb(220, 220, 220);
}

.header-sign-up {
  width: 100px;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 10px 5px;
  color: white;
}

.subway-photo {
  width: 500px;
}

.illustration-image,
.illustration-subtext {
  width: 80%;
}

.illustration-subtext {
  text-align: center;
}

.illustration-object {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustration-flex-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}
.second-header {
  text-align: center;
  margin-bottom: 50px;
}

.third-container {
  background-color: #E5E7EB;
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 5% 20%;
}

.quote-text {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  line-height: 110%;
  color: #1F2937;
  margin-bottom: 0.5rem;
}

.quote-author {
  font-weight: bold;
  text-align: end;
  margin-top: 0;
}

.container {
  margin-bottom: 100px;
}